
<nav>

<!-- <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">
       <div class="contact-info d-flex align-items-center"> 
          <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mar - Dom: 12:30 AM - 17:00 PM</span></i>
    </div>
    </div>
</div> -->
 <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
       <h1 class="logo me-auto me-lg-0"><a href="https://freeetemplates.com/">Momotaro Foods</a></h1>
       <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
             <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
             <li><a class="nav-link scrollto" href="#about">Bienvenida</a></li>
             <li><a class="nav-link scrollto" href="#why-us">Nosotros</a></li>
             <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
             <li><a class="nav-link scrollto" href="#specials">Especiales</a></li>
             <li><a class="nav-link scrollto" href="#book-a-table">Reserva</a></li>
             <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
             <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>

          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
       </nav>
       <a routerLink="/login" class="book-a-table-btn scrollto d-none d-lg-flex" *ngIf="(userLoggedIn | async) === false">Iniciar Sesion</a>
       <div class="dropdown" *ngIf="(userLoggedIn | async) === true">
         <button class="btn btn-light " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{userDetails?.nombre_usuario}} 
         </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <a class="dropdown-item" [routerLink]="'listaReservas'">Mis Reservas</a>
           <a class="dropdown-item" [routerLink]="'listaPedidos'">Mis pedidos</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" (click)="logOut()" href="#">Cerrar Sesion</a>
         </div>
       </div>
       
       <div class="navbar-cart" (click)="onToggleCart()" >
         <div class="navbar-cart-items" *ngIf="(myCart$ | async)?.length">
           <p>{{ (myCart$ | async)?.length }}</p>
         </div>
         <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    
 </header>
 
</nav>
<div class="cart cartShow" [ngClass]="{cartShow:viewCart}">
   <app-cart></app-cart>
</div>