<!-- <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">
       <div class="contact-info d-flex align-items-center"> 
          <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mar - Dom: 12:30 AM - 17:00 PM</span></i>
    </div>
    </div>
 </div>
 <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
       <h1 class="logo me-auto me-lg-0"><a href="https://freeetemplates.com/">Momotaro Foods</a></h1>
       <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
             <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
             <li><a class="nav-link scrollto" href="#about">Bienvenida</a></li>
             <li><a class="nav-link scrollto" href="#why-us">Nosotros</a></li>
             <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
             <li><a class="nav-link scrollto" href="#specials">Especiales</a></li>
             <li><a class="nav-link scrollto" href="#book-a-table">Reserva</a></li>
             <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
             <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>

          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
       </nav>
       <a routerLink="/login" class="book-a-table-btn scrollto d-none d-lg-flex">Iniciar Sesion</a>
    </div>
 </header> -->
 <app-navbar></app-navbar>
 <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
       <div class="row">
          <div class="col-lg-8">
             <h1>Bienvenidos a<span> Momotaro Foods</span></h1>
             <div class="btns"> <a href="#menu" class="btn-menu animated fadeInUp scrollto">Nuestro Menu</a> <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Reserva tu mesa</a></div>
          </div>
          <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200"> <a href="https://www.youtube.com/watch?v=0-ncyfpe_7Q&ab_channel=SerhiyHipskyy" class="glightbox play-btn"></a></div>
       </div>
    </div>
 </section>
 <main id="main">
    <section id="about" class="about">
       <div class="container" data-aos="fade-up">
          <div class="row">
             <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img"> <img src="assets/img/about.jpg" alt=""></div>
             </div>
             <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>¡Bienvenidos a Momotaro Foods!</h3>
                <p class="fst-italic">  un restaurante que te ofrece los mejores sabores de Japón en la ciudad. Somos un equipo apasionado por la gastronomía japonesa 
                   y nos dedicamos a ofrecer platos auténticos y deliciosos que satisfagan los paladares más exigentes.</p>
                <ul>
                   <li><i class="bi bi-check-circle"></i> Calidad: En Momotaro Food, utilizamos ingredientes frescos y de alta calidad para elaborar nuestros platos.s</li>
                   <li><i class="bi bi-check-circle"></i> Servicio: Queremos que cada uno de nuestros clientes tenga una experiencia única y memorable en nuestro restaurante. </li>
                   <li><i class="bi bi-check-circle"></i> Innovación: En Momotaro Food, nos gusta experimentar y probar cosas nuevas. Estamos constantemente buscando formas de mejorar nuestros platos y ofrecer opciones creativas e innovadoras que sorprendan a nuestros clientes. </li>
                </ul>
                <p>Esperamos verte pronto en Momotaro Food y compartir contigo nuestra pasión por la comida japonesa. ¡Te garantizamos una experiencia gastronómica única e inolvidable!</p>
             </div>
          </div>
       </div>
    </section>
    <section id="why-us" class="why-us">
       <div class="container" data-aos="fade-up">
          <div class="section-title">
             <h2>¿Por que nosotros?</h2>
             <p>Por que nuestro restaurante</p>
          </div>
          <div class="row">
             <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                   <span>01</span>
                   <h4>Autenticidad japonesa</h4>
                   <p>En Momotaro Food, llevamos la cultura y la tradición japonesa a la mesa.
                       Desde nuestro ramen hasta nuestros platillos de sushi, cada bocado es una experiencia auténtica y deliciosa.</p>
                </div>
             </div>
             <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                   <span>02</span>
                   <h4>Ingredientes de Calidad</h4>
                   <p> Utilizamos solo ingredientes frescos y de alta calidad en todos nuestros platillos.
                       Nuestro equipo de chefs trabaja arduamente para seleccionar cuidadosamente cada ingrediente. </p>
                </div>
             </div>
             <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                   <span>03</span>
                   <h4> Ambiente acogedor</h4>
                   <p>Creemos que la comida es mejor cuando se comparte en un ambiente acogedor. Nuestro restaurante es un lugar cálido y acogedor, 
                      perfecto para disfrutar con nuestros seres queridos.</p>
                </div>
             </div>
          </div>
       </div>
    </section>
    <app-menu></app-menu>
    <section id="specials" class="specials">
       <div class="container" data-aos="fade-up">
          <div class="section-title">
             <h2>Especiales</h2>
             <p>Mira nuestros platillos especiales</p>
          </div>
          <div class="row" data-aos="fade-up" data-aos-delay="100">
             <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                   <li class="nav-item"> <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Modi sit est</a></li>
                   <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Unde praesentium sed</a></li>
                   <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pariatur explicabo vel</a></li>
                   <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nostrum qui quasi</a></li>
                   <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Iusto ut expedita aut</a></li>
                </ul>
             </div>
             <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                   <div class="tab-pane active show" id="tab-1">
                      <div class="row">
                         <div class="col-lg-8 details order-2 order-lg-1">
                            <h3>Architecto ut aperiam autem id</h3>
                            <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                            <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                         </div>
                         <div class="col-lg-4 text-center order-1 order-lg-2"> <img src="assets/img/specials-1.png" alt="" class="img-fluid"></div>
                      </div>
                   </div>
                   <div class="tab-pane" id="tab-2">
                      <div class="row">
                         <div class="col-lg-8 details order-2 order-lg-1">
                            <h3>Et blanditiis nemo veritatis excepturi</h3>
                            <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                            <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                         </div>
                         <div class="col-lg-4 text-center order-1 order-lg-2"> <img src="assets/img/specials-2.png" alt="" class="img-fluid"></div>
                      </div>
                   </div>
                   <div class="tab-pane" id="tab-3">
                      <div class="row">
                         <div class="col-lg-8 details order-2 order-lg-1">
                            <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                            <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                            <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                         </div>
                         <div class="col-lg-4 text-center order-1 order-lg-2"> <img src="assets/img/specials-3.png" alt="" class="img-fluid"></div>
                      </div>
                   </div>
                   <div class="tab-pane" id="tab-4">
                      <div class="row">
                         <div class="col-lg-8 details order-2 order-lg-1">
                            <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                            <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                            <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                         </div>
                         <div class="col-lg-4 text-center order-1 order-lg-2"> <img src="assets/img/specials-4.png" alt="" class="img-fluid"></div>
                      </div>
                   </div>
                   <div class="tab-pane" id="tab-5">
                      <div class="row">
                         <div class="col-lg-8 details order-2 order-lg-1">
                            <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                            <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                            <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                         </div>
                         <div class="col-lg-4 text-center order-1 order-lg-2"> <img src="assets/img/specials-5.png" alt="" class="img-fluid"></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <app-reserva></app-reserva>
    <section id="chefs" class="chefs">
       <div class="container" data-aos="fade-up">
          <div class="section-title">
             <h2>Chefs</h2>
             <p>Nuestros Chefs Profesionales</p>
          </div>
          <div class="row">
             <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                   <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                   <div class="member-info">
                      <div class="member-info-content">
                         <h4>Jassa White</h4>
                         <span>Master Chef</span>
                      </div>
                      <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                   <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                   <div class="member-info">
                      <div class="member-info-content">
                         <h4>Jassa Jhonson</h4>
                         <span>Patissier</span>
                      </div>
                      <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                   <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                   <div class="member-info">
                      <div class="member-info-content">
                         <h4>Jassa Anderson</h4>
                         <span>Cook</span>
                      </div>
                      <div class="social"> <a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="contact" class="contact">
       <div class="container" data-aos="fade-up">
          <div class="section-title">
             <h2>Contacto</h2>
             <p>Contactanos</p>
          </div>
       </div>
       <div data-aos="fade-up"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.907708731993!2d-70.64517828960754!3d-33.43184246419016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5b7ad916475%3A0x2dc7a43a7fd033ea!2sMomotaro%20foods!5e0!3m2!1ses-419!2scl!4v1683059853132!5m2!1ses-419!2scl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
       <div class="container" data-aos="fade-up">
          <div class="row mt-5">
             <div class="col-lg-4">
                <div class="info">
                   <div class="address">
                      <i class="bi bi-geo-alt"></i>
                      <h4>Direccion:</h4>
                      <p>Loreto 158, Recoleta, Región Metropolitana</p>
                   </div>
                   <div class="open-hours">
                      <i class="bi bi-clock"></i>
                      <h4>Horario de atencion</h4>
                      <p> Martes-Domingo:<br> 12:30 AM - 17:00 PM</p>
                   </div>
                   <div class="email">
                      <i class="bi bi-envelope"></i>
                      <h4>Email de contacto</h4>
                      <p><a href="#" class="__cf_email__" data-cfemail="2940474f46694c51484459454c074a4644">contacto@momotarofoods.cl</a></p>
                   </div>
                   <div class="phone">
                      <i class="bi bi-phone"></i>
                      <h4>Llamanos</h4>
                      <p>+91 **** **** **</p>
                   </div>
                </div>
             </div>
             <div class="col-lg-8 mt-5 mt-lg-0">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                   <div class="row">
                      <div class="col-md-6 form-group"> <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required></div>
                      <div class="col-md-6 form-group mt-3 mt-md-0"> <input type="email" class="form-control" name="email" id="email" placeholder="Email" required></div>
                   </div>
                   <div class="form-group mt-3"> <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required></div>
                   <div class="form-group mt-3"><textarea class="form-control" name="message" rows="8" placeholder="Mensaje" required></textarea></div>
                   <div class="my-3">
                      <div class="loading">Cargando</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Tu mensaje a sido enviado. Gracias!</div>
                   </div>
                   <div class="text-center"><button type="submit">Enviar</button></div>
                </form>
             </div>
          </div>
       </div>
    </section>
 </main>
 <footer id="footer">
    <div class="container">
       <div class="copyright"> &copy; Copyright <strong><span>Momotaro Foods</span></strong>. Todo los derechos reservados</div>
    </div>
 </footer>
<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>  
